<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-external-extension" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>externalExtension</name>
    <js-module name="externalExtension" src="www/externalExtension.js">
        <clobbers target="cordova.plugins.externalExtension"/>
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="externalExtension">
                <param name="ios-package" value="externalExtension"/>
            </feature>
        </config-file>
        <source-file src="src/ios/externalExtension.m"/>
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="externalExtension">
                <param name="android-package" value="cn.hhjjj.externalExtension.externalExtension"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/externalExtension.java"
                     target-dir="src/cn/hhjjj/externalExtension"/>
    </platform>
</plugin>